extends layout

block content
    .container
        .categories.container
            a(href="http://trujillo.dyndns.org:2000" target="_blank").categories__item Global Trujillo
            a(href="http://chiclayoglobalcar.dyndns.org:2000" target="_blank").categories__item Global Chiclayo
            a(href="http://tumbesip.dyndns.org:2000" target="_blank").categories__item Sol Tumbes
            a(href="http://piura.dyndns.org:2000" target="_blank").categories__item Sol Piura
            a(href="http://trujillo.dyndns.org:2000" target="_blank").categories__item Sol Trujillo
            a(href="http://nuevochimbote.dyndns.org:2000" target="_blank").categories__item Sol Chimbote
            a(href="http://pucallpaselvacar.dyndns.org:2000" target="_blank").categories__item Selva Pucallpa
            a(href="http://tarapotoselvacar.dyndns.org:2000" target="_blank").categories__item Selva Tarapoto