extends layout

block content
    .container
        .categories.container
            a(href="http://gctrujillo.dvrdns.org:2000" target="_blank" style="background-color: #CC263C").categories__item Global Trujillo
            a(href="http://gcchiclayo.dvrdns.org:2000" target="_blank" style="background-color: #CC263C").categories__item Global Chiclayo
            a(href="http://scpiura.dvrdns.org:2000" target="_blank" style="background-color: #FACE00").categories__item Sol Piura
            a(href="http://sctrujillo.dvrdns.org:2000" target="_blank" style="background-color: #FACE00").categories__item Sol Trujillo
            a(href="http://scchimbote.dvrdns.org:2000" target="_blank" style="background-color: #FACE00").categories__item Sol Chimbote
            a(href="http://scpucallpa.dvrdns.org:2000" target="_blank" style="background-color: #008000").categories__item Selva Pucallpa
            a(href="http://sctarapoto.dvrdns.org:2000" target="_blank" style="background-color: #008000").categories__item Selva Tarapoto
            a(href="http://gmchimbote.dvrdns.org:2001" target="_blank").categories__item Medic Chimbote
            a(href="http://gmchiclayo.dvrdns.org:1001" target="_blank").categories__item Medic Chiclayo
            a(href="http://gmpiura.dvrdns.org:2001" target="_blank").categories__item Medic Piura
            a(href="http://gmtumbes.dvrdns.org:2001" target="_blank").categories__item Medic Tumbes